.manage-specialty-container {
  padding: 0 15px;

  .manage-specialty-title {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .btn-add-new-specialty {
  }

  .all-specialties {
  }
}
