.detail-doctor-container {
  height: 500px;
  // margin: 0 100px;

  .intro-doctor {
    padding: 0 100px;
    display: flex;
    // height: 100px;

    .content-left {
      // width: 20%;
      background: center center no-repeat;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 10px 20px;
      background-size: cover;
    }

    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;

      .above {
        font-size: 20px;
        font-weight: 600;
        padding-top: 15px;
      }

      .below {
        padding-top: 10px;
      }
    }
  }

  .schedule-doctor {
    margin: 0 100px;
    display: flex;
    height: 250px;
    // border: solid red 1px;

    .content-left {
      width: 50%;
    }

    .content-right {
      width: 50%;
    }
  }

  .detail-infor-doctor {
    // padding: 20px;
    background-color: #f9f9f9;
    border-top: 2px solid rgb(206, 204, 204);
    border-bottom: 2px solid rgb(206, 204, 204);
    padding: 10px 100px;

    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }
  }
}
