.home-header-container {
  height: 60px;
  width: 100%;
  padding: 0 40px;

  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;

    .left-content {
      width: 20%;
      display: flex;
      align-items: center;

      .header-logo {
        background: url("../../assets/logo.svg") left center no-repeat;
        height: 60%;
        width: 60%;
        cursor: pointer;
        margin-left: 20px;
      }

      i {
        font-size: 28px;
        color: grey;
        cursor: pointer;

        &:hover {
          color: rgb(64, 186, 235);
        }
      }
    }

    .center-content {
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .child-content {
        cursor: pointer;

        .sub-title {
          font-size: 11px;
          font-weight: 400;
        }

        &:hover {
          color: rgb(64, 186, 235);
        }
      }
    }

    .right-content {
      width: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      .support {
        padding-right: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
          font-size: 15px;
          margin-right: 5px;
        }

        &:hover {
          color: rgb(64, 186, 235);
        }
      }

      .language-vi {
        cursor: pointer;
        opacity: 0.3;

        &.active {
          opacity: 1;
          span {
            color: orange;
            font-weight: 700;
          }
        }

        &:hover {
          opacity: 1;
          color: rgb(64, 186, 235);
        }
      }

      .language-en {
        margin: 0 10px;
        cursor: pointer;
        opacity: 0.3;

        &.active {
          opacity: 1;
          span {
            color: blue;
            font-weight: 700;
          }
        }

        &:hover {
          opacity: 1;
          color: rgb(64, 186, 235);
        }
      }
    }
  }
}

.home-header-banner {
  background: url("../../assets/header-background.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  opacity: 0.95;

  .content-above {
    height: 65%;
    padding-top: 50px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );

    .title1 {
      text-align: center;
      font-size: 50px;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 10px;
      color: white;
      margin-top: 30px;
    }

    .title2 {
      text-align: center;
      font-size: 50px;
      text-shadow: 1px 1px 1px #333;
      color: white;
      font-weight: 600;
    }

    .search {
      text-align: center;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto;
      padding: 10px;
      border-radius: 30px;
      background: #f7d800;
      gap: 3px;

      i {
        margin: 0 5px;
        font-size: 20px;
      }

      input {
        height: 30px;
        width: 320px;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .content-below {
    height: 35%;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );

    display: flex;
    align-items: center;
    justify-content: center;

    .options {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 65px;

      .option-child {
        width: 100px;
        text-align: center;
        cursor: pointer;

        &:hover {
          color: rgb(64, 186, 235);
        }

        .icon-child {
          background: white;
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto;
          box-shadow: 0px 1px #b6b6b6;

          i {
            font-size: 25px;
            color: rgb(64, 186, 235);
          }
        }

        .text-child {
          font-weight: 550;
          font-size: 16px;
        }
      }
    }
  }
}
