@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;

  .languages {
    .welcome {
      margin-right: 10px;
    }

    .language-en {
      margin-right: 15px;
      margin-left: 10px;
      opacity: 0.5;
      cursor: pointer;

      &.active {
        opacity: 1;
        color: orange;
        font-weight: 600;
      }
    }

    .language-vi {
      opacity: 0.5;
      cursor: pointer;

      &.active {
        opacity: 1;
        color: rgb(166, 252, 86);
        font-weight: 600;
      }
    }

    .btn-logout {
      color: $common-text-color;
      line-height: 40px;
      height: 40px;
      padding: 0 10px;
      &:hover {
        background-color: darken($colormain, 5);
      }
      i {
        font-size: $base-size + 1px;
      }
    }
  }
}
